<div class="title_bar">
  <img
    class="image"
    src="https://usetrmnl.com/images/plugins/trmnl--render.svg"
  >
  <span class="title">{{ title }}</span>
  <span class="instance">{{ description }}</span>
</div>
